<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</section>

<% if current_user?(@user) %>
  <h4><%= content_tag :span, 'e-mail', class: 'label label-info' %></h4>
  <p><%= @user.email %></p>
<% end %>

<% if @user.area.present? %>
  <h4><%= content_tag :span, 'area', class: 'label label-info' %></h4>
  <p><%= @user.area %></p>
<% end %>

<% if @user.profile.present? %>
  <h4><%= content_tag :span, 'profile', class: 'label label-info' %></h4>
  <%= simple_format @user.profile %>
<% end %>
    
<p><%= link_to "user_page", @user %> | 
   <%= link_to "followings", followings_user_path(@user) %> | 
   <%= link_to "followers", followers_user_path(@user) %></p>